body {
    background-color: #AAA;
  }
  
  .Ligne {
    background-color: grey;
  }
  
  .Ingrédients ul li {
    background-color: #000;
    color:white;
  }
  .Recette {
    background-color: #000;
    color:white;
  }
  
  .Infos ul li{
    background-color: #FFF;
    color:black;
  }
  
  /* Text shadows */
  
  .Titre h1 {
    text-shadow: 0px 0px 10px black;
  }
  
  /* Régalez-vous ! */
  h2{
    text-shadow: 0px 0px 3px black;
  }
  