.Titre h1 {
    text-align: center;
    color: white;
    font-size: 3em;
  }
.Plat figure .Ima{
    width: 100%;
    height: auto;
  
    border: 1px solid #000;
    border-radius: 5px;
  }
.Plat {
    display: flex;
    justify-content: left;
  }  
.Plat figure {
    width : 50%;
  }
.Ingrédients ul li {
    display:inline-block;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    margin : 5px;
    white-space:pre;
    padding : 4px;
    width: 35%;
    font-size: 1.2em;
  
  }
.Infos ul li{
    display:inline-block;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 15px;
    width: 30%;
    white-space:pre;
    text-align: center;
    font-size: 2.5em;
    padding : 3px;
  }
  
.Infos li img {
    width: auto;
    height: 40px;
  }
  
.Recette {
    border: 1px solid #000;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
.Recette:hover {
  
  }
  
.Recette ol li {
    line-height: 2.0em;
  }
  
.Other .nouv{
    display : block;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    background-color: black;
    border: 1px solid #000;
    border-radius: 10px;
  
  }
.Other .nouv a {
    text-align: center;
    color: white;
    padding: 10px;
  }
  