body{
    background-color: #d1ccd0 ;
}
.categorie div {
    padding: 5% 10%;
    margin: 2%;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
}

.categorie {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    display: flex;
    align-self: flex-end;
}

h1{
    text-align: center;
}
.entree, .plat, .dessert, .soupe, .taboule, .salade, .burger{
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.entree{
 background-image: url(asset/salade.jpg);
}
.plat{
 background-image: url(asset/plat.jpg);
}
.dessert{
background-image: url(asset/dessert.jpg);
}
.soupe{
background-image: url(asset/soupes.jpeg);
}
.taboule{
background-image: url(asset/taboule.jpg);
}
.salade{
background-image: url(asset/caesar.jpeg);
}
.burger{
    background-image: url(asset/burger.jpg);
}
.ingredients ul li{
  background-color: #000;
  color:white;
  
  margin: 1%;
  display: inline flex;
  padding: 2%;
  list-style-type: none;
  border: 2px solid black;
  border-radius: 5px;
}
.Titre h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: 0px 0px 10px black;
  }